<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.spd.apply.dao.SpdApplyDao">

    <select id="queryPage" resultType="net.lab1024.sa.admin.module.spd.apply.domain.vo.SpdApplyVO">
        SELECT * FROM t_spd_apply
        WHERE del_flag = #{delFlag}
        <if test="query.applyNo != null and query.applyNo != ''">
            AND apply_no LIKE CONCAT('%', #{query.applyNo}, '%')
        </if>
        <if test="query.applyDeptId != null and query.applyDeptId != ''">
            AND apply_dept_id = #{query.applyDeptId}
        </if>
        <if test="query.applyStatus != null">
            AND apply_status = #{query.applyStatus}
        </if>
        <if test="query.applyTimeStart != null">
            AND apply_time &gt;= #{query.applyTimeStart}
        </if>
        <if test="query.applyTimeEnd != null">
            AND apply_time &lt;= #{query.applyTimeEnd}
        </if>
        ORDER BY create_time DESC
    </select>

    <select id="getDetailById" resultType="net.lab1024.sa.admin.module.spd.apply.domain.vo.SpdApplyVO">
        SELECT * FROM t_spd_apply
        WHERE id = #{id} AND del_flag = #{delFlag}
    </select>

</mapper>
