<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.spd.bulk.dao.SpdBulkMaterialDao">

    <select id="queryPage" resultType="net.lab1024.sa.admin.module.spd.bulk.domain.vo.SpdBulkMaterialVO">
        SELECT 
            bm.*,
            m.material_name,
            m.spec as specification,
            b.batch_no,
            w.node_name as warehouse_name
        FROM spd_bulk_material bm
        LEFT JOIN spd_material m ON bm.material_id = m.material_id
        LEFT JOIN spd_material_batch b ON bm.batch_id = b.batch_id
        LEFT JOIN spd_org_node w ON bm.warehouse_id = w.node_id
        WHERE bm.del_flag = #{delFlag}
        <if test="query.bulkId != null and query.bulkId != ''">
            AND bm.bulk_id = #{query.bulkId}
        </if>
        <if test="query.materialId != null and query.materialId != ''">
            AND bm.material_id = #{query.materialId}
        </if>
        <if test="query.materialName != null and query.materialName != ''">
            AND m.material_name LIKE CONCAT('%', #{query.materialName}, '%')
        </if>
        <if test="query.batchNo != null and query.batchNo != ''">
            AND b.batch_no = #{query.batchNo}
        </if>
        <if test="query.warehouseId != null and query.warehouseId != ''">
            AND bm.warehouse_id = #{query.warehouseId}
        </if>
        ORDER BY bm.create_time DESC
    </select>

</mapper>
