<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.spd.material.dao.SpdMaterialDao">

    <select id="queryPage" resultType="net.lab1024.sa.admin.module.spd.material.domain.vo.SpdMaterialVO">
        SELECT * FROM spd_material
        WHERE del_flag = #{delFlag}
        <if test="query.materialName != null and query.materialName != ''">
            AND material_name LIKE CONCAT('%', #{query.materialName}, '%')
        </if>
        <if test="query.materialCode != null and query.materialCode != ''">
            AND material_code LIKE CONCAT('%', #{query.materialCode}, '%')
        </if>
        <if test="query.manufacturer != null and query.manufacturer != ''">
            AND manufacturer LIKE CONCAT('%', #{query.manufacturer}, '%')
        </if>
        <if test="query.supplierName != null and query.supplierName != ''">
            AND supplier_name LIKE CONCAT('%', #{query.supplierName}, '%')
        </if>
        <if test="query.isGroupBuy != null">
            AND is_group_buy = #{query.isGroupBuy}
        </if>
        <if test="query.category != null and query.category != ''">
            AND category = #{query.category}
        </if>
        <if test="query.materialStatus != null">
            AND material_status = #{query.materialStatus}
        </if>
        ORDER BY create_time DESC
    </select>

    <select id="queryByNameAndManufacturer" resultType="net.lab1024.sa.admin.module.spd.material.domain.entity.SpdMaterialEntity">
        SELECT * FROM spd_material
        WHERE material_name = #{materialName}
        AND manufacturer = #{manufacturer}
        AND del_flag = #{delFlag}
        <if test="id != null">
            AND id != #{id}
        </if>
        LIMIT 1
    </select>

    <select id="queryByMaterialId" resultType="net.lab1024.sa.admin.module.spd.material.domain.entity.SpdMaterialEntity">
        SELECT * FROM spd_material
        WHERE material_id = #{materialId}
        AND del_flag = #{delFlag}
        LIMIT 1
    </select>

</mapper>
